/* Import fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    
}
body{
    background-color: #f2f4fc;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    
}
div {
    display: block;
}
      /* header */
/* header {
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 1em;
}


.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   */
  
   @import url(https://fonts.googleapis.com/css?family=Raleway);
   h2 {
     vertical-align: center;
     text-align: center;
   }
   
   html, body {
     margin: 0;
     height: 100%;
   }
   
   * {
     font-family: "Raleway";
     box-sizing: border-box;
   }
   
   .top-nav {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     color: rgb(167, 162, 162);
     height: 50px;
     padding: 1em;
   }
   
   .menu {
     display: flex;
     flex-direction: row;
     list-style-type: none;
     margin: 0;
     padding: 0;
   }
   
   .menu > li {
     margin: 0 1rem;
     overflow: hidden;
   }
   
   .menu-button-container {
     display: none;
     height: 100%;
     width: 30px;
     cursor: pointer;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   
   #menu-toggle {
     display: none;
   }
   
   .menu-button,
   .menu-button::before,
   .menu-button::after {
     display: block;
     background-color: rgb(119, 117, 117);
     position: absolute;
     height: 4px;
     width: 30px;
     transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
     border-radius: 2px;
   }
   
   .menu-button::before {
     content: '';
     margin-top: -8px;
   }
   
   .menu-button::after {
     content: '';
     margin-top: 8px;
   }
   
   #menu-toggle:checked + .menu-button-container .menu-button::before {
     margin-top: 0px;
     transform: rotate(405deg);
   }
   
   #menu-toggle:checked + .menu-button-container .menu-button {
     background: rgba(195, 189, 189, 0.666);
   }
   
   #menu-toggle:checked + .menu-button-container .menu-button::after {
     margin-top: 0px;
     transform: rotate(-405deg);
   }
   
   @media (max-width: 700px) {
     .menu-button-container {
       display: flex;
     }
     .menu {
       position: absolute;
       top: 0;
       margin-top: 50px;
       left: 0;
       flex-direction: column;
       width: 100%;
       justify-content: center;
       align-items: center;
     }
     #menu-toggle ~ .menu li {
       height: 0;
       margin: 0;
       padding: 0;
       border: 0;
       transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    
     }
     #menu-toggle:checked ~ .menu li {
       
       height: 2.5em;
       padding: 0.5em;
       transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
     }
     .menu > li {
       display: flex;
       justify-content: flex-start;
       margin: 0;
       padding: 0.5em 0;
       width: 100%;
       color: white;
       background-color: rgb(179, 175, 175);
     }
     .menu > li:not(:last-child) {
       border-bottom: 1px solid #444;
     }
     .home{
        text-decoration: none;
        color: rgba(39, 39, 133, 0.882);
        font-size: 20px;
        font-weight: bold;

     }
     .home:hover , .recent:hover{
         color: #072ac8b6;
     }
   
     .recent{
        text-decoration: none;
        color: rgb(73, 71, 71);
        font-size: 20px;
        font-weight: bold;
     }
     
  
   }
   
      
      /* FIN HEADER */
      
      /* SECTION ONE */
  #section-one{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   text-align: center;
   margin: 2rem;
  }
  
  #section-one h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 130%;
    margin: 2rem;
    padding: 0 4rem;
  }


  .circle-section-one {
    max-width: 600px;
    text-align: center;
    font-size: 17px;
    color:#6b708d;
    line-height: 150%;
    margin: 2rem auto;
  }
  .button-section-one{
    margin-top: 1.5rem;
  }

  .button-section-one a{
    text-decoration: none;
    margin: 0rem 1rem;
  }
  .button-get{
  background-color:#072ac8;
  font-size: 17px;
  padding: 1em 1.5em;
  color: white;
  font-weight: bold;

}
.button-get:hover{
    background-color: #1e1f21;
}

.button-see{
    color: #606375;
    font-size: 19px;
    font-weight: 800;
    font-weight: bold
}


 
  #section-one-image{
    text-align: center;
  }
  .hero-image{
   
    max-width: 100%;
    margin-top: 4rem;
    vertical-align: middle;
    display: inline-block;
  }

  .card-2 {
    max-width: 479px;
  }


      /* FIN SECTION ONE */

      /* SECTION - LOGOS  */
 .section-logos{
    max-width: 1000px;
    margin-right:auto;
    margin-left: auto;
    
 }
  .logos {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    width: 100%;
    max-width: 100%;
    grid-auto-flow: row;
    grid-column-gap: 20px;

  }
  .marcas-logos{
display: flex;
width: 150px;
height: 96px;
max-height: 96px;
max-width: 150px;
justify-content: center;
align-items: center;

  }
 


  /* FIN SECTION - LOGOS  */

    /* SECTION RECENTS PROYECTS */

    .projects-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 25px;
      grid-row-gap: 0px;
  }
  .title{
    color: #292e47;
  font-size: 40px;
  line-height: 40px;
   margin-top: 2rem;
   margin-bottom: 2rem;
  }
  
  .project {
      background-color: white;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

  }
  
  .project img {
      width: 100%;
      height: 240px;
      max-width: 100%;
     vertical-align: middle;
     display: inline-block;
  }
  
  .project h3 {
      font-size: 1.3rem;
      margin: 27px;
  }
  
  .project p {
      font-size: 1.1rem;
      margin: 0 27px 27px 27px;
  }
  
  .project a {
      text-decoration: none;
      font-weight: 500;
      color: #072AC8;;
      margin: 0 27px 27px 27px;
  }
  

  /* FIN SECTION RECENTS PROYECTS */


    /* SECTION CLIENTES  */
  #clients{
    background-color: #292e47;
    
  }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

  #clients h3{
    max-width: 400px;
    line-height: 150%;
    color: #ecf7ff;
    font-size: 40px;
    text-align: center;
    margin:2rem 0rem;

  }
  .testimonio {
    max-width: 560px;
    margin-right: auto;
    margin-left: auto;
    color: #ffc600;
    font-size: 24px;
    line-height: 160%;
    font-weight: 500;
    text-align: center;
    margin:1rem 0rem;
  }
 .client{
    display: flex;
    align-items: center;
    margin: 1rem 0rem;

 }
  .client-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../project-assets/testimonial-section/profile.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0rem 1rem;
  }
  
  .client-name{
    color: #a2d6f9;
    font-size: 17px;
  }
  .client-position{
    color: #ecf7ff;
    font-size: 13px;
  }

 
   /* FIN SECTION CLIENTES  */

    /* SECTION OUR SERVICES */
#our-services{
  margin:2rem 8rem 2rem 8rem
}

#our-services h2{
  color: #292e47;
  font-size: 40px;
  line-height: 44px;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

    .services-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 25px;
      grid-row-gap: 0px;
  }
  
  .service {
      background-color: white;
      padding-bottom: 20px;
  }
  
  #service-img-1 {
      background-image: url('../project-assets/services-section/icons/1.svg');
      background-size:46%;
      background-position: center center;
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
      background-color: #ecf6ff;
      border-radius: 100px;
      margin: 34px 0 0 34px;
  }
  
  #service-img-2 {
      background-image: url('../project-assets/services-section/icons/2.svg');
      background-size:46%;
      background-position: center center;
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
      background-color: #ecf6ff;
      border-radius: 100px;
      margin: 34px 0 0 34px;
  }
  
  #service-img-3 {
      background-image: url('../project-assets/services-section/icons/3.svg');
      background-size:46%;
      background-position: center center;
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
      background-color: #ecf6ff;
      border-radius: 100px;
      margin: 34px 0 0 34px;
  }
  
  .service h3 {
      font-size: 1.3rem;
      margin: 27px;
  }
  
  .service p {
      font-size: 1.1rem;
      margin: 0 27px 27px 27px;
  }
  
  .service a {
      text-decoration: none;
      font-weight: 500;
      color: #072AC8;;
      margin: 0 27px 27px 27px;
  }
  


 /*  FIN SECTION OUR SERVICES */
    /* SECTION QUESTIONS  */

  #questions{
    background-color: #ffc600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #questions h1{
    
    color: #292e47;
    font-size: 30px;
    line-height: 44px;
    margin:3rem 0rem 1rem 0rem
  }
  .subtitle{
    font-size: 20px;
    color:#6b708d;
  }
  .form-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;

  }

  .textfield-icon{
    position: absolute;
    
    width: 30px;
    height: 30px;
    background-image: url(../project-assets/newsletter/icon/mail.svg);
    background-position: 50% 50%;
    background-size: auto;
    
  }
  .text-field {
    
    height: 80px;
    margin-bottom: 0px;
    padding-left: 70px;
    background-color: #ecf7ff;
    color: #292e47
  }

  .w-input, .w-select {
    display: block;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    border: 1px solid #cccccc;
}

.button.primary-button.cta-button{width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    height: 80px;
}

.button.primary-button {
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 17px;
}

.w-button{
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
}
   /* SECTION QUESTIONS */

   /* FOOTER */
footer{
    margin-top: 3rem;
    
}
footer img {
    width: 100px;
    height: 30px;
}
   .foot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:2rem , 0rem, 1rem ,0rem;
   }

   .direction {
    text-align: center;
    font-size: 17px;
    line-height: 150%;
    color:#6b708d
   }
   .footer-links{
    display: grid;
    justify-content: space-between;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
   }

   .footer-links a{
    font-size: 17px;
    text-decoration: none;
    color:#0000EE
   }