/* Import fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box
    
}
body{
    background-color: #f2f4fc;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    height: 100%;
    
}
main,section, footer {
  max-width: 1063px;
  margin: auto
}
 
  
 
   h2 {
     vertical-align: center;
     text-align: center;
   }
   
  
   
  
   .top-nav {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     color: rgb(167, 162, 162);
     height: 50px;
     padding: 1em;
     margin-top: 2rem;
   }
   
   
   .menu {
     display: flex;
     flex-direction: row;
     list-style-type: none;
     margin: 0;
     padding: 0;
   }
   
   .menu > li {
     margin: 0 1rem;
     overflow: hidden;
   }
   .home{
    text-decoration: none;
    color: rgba(39, 39, 133, 0.882);
    font-size: 20px;
    font-weight: bold;

 }
 .home:hover , .recent:hover{
     color: #072ac8b6;
 }

 .recent{
    text-decoration: none;
    color: rgb(73, 71, 71);
    font-size: 20px;
    font-weight: bold;
 }
 
   
   .menu-button-container {
     display: none;
     height: 100%;
     width: 30px;
     cursor: pointer;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   
   #menu-toggle {
     display: none;
   }
   
   .menu-button,
   .menu-button::before,
   .menu-button::after {
     display: block;
     background-color: rgb(119, 117, 117);
     position: absolute;
     height: 4px;
     width: 30px;
      /* transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);  */
     border-radius: 2px;
   }
   
   .menu-button::before {
     content: '';
     margin-top: -8px;
   }
   
   .menu-button::after {
     content: '';
     margin-top: 8px;
   }
   
   #menu-toggle:checked + .menu-button-container .menu-button::before {
     margin-top: 0px;
     transform: rotate(405deg);
   }
   
   #menu-toggle:checked + .menu-button-container .menu-button {
     background: rgba(195, 189, 189, 0.666);
   }
   
   #menu-toggle:checked + .menu-button-container .menu-button::after {
     margin-top: 0px;
     transform: rotate(-405deg);
   }
   
   @media (max-width: 700px) {
    .contact{
      display:none
    }
     .menu-button-container {
       display: flex;
     }
     .menu {
       position: absolute;
       top: 0;
       margin-top: 50px;
       left: 0;
       flex-direction: column;
       width: 100%;
       justify-content: center;
       align-items: center;
       margin-top: 3rem;
     }
     #menu-toggle ~ .menu li {
       height: 0;
       margin: 0;
       padding: 0;
       border: 0;
       transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    
     }
     #menu-toggle:checked ~ .menu li {
       
       height: 2.5em;
       padding: 0.5em;
       transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
     }
     .menu > li {
       display: flex;
       justify-content: flex-start;
       margin: 0;
       padding: 0.5em 0;
       width: 100%;
       color: white;
       background-color: rgb(179, 175, 175);
     }
     .menu > li:not(:last-child) {
       border-bottom: 1px solid #444;
     }
     
  
   }
   
      
      /* FIN HEADER */
      
      /* SECTION ONE */
  #section-one{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   text-align: center;
   margin: 2rem;
  }
  
  #section-one h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 130%;
    margin: 2rem;
    padding: 0 4rem;
  }


  .circle-section-one {
    max-width: 600px;
    text-align: center;
    font-size: 17px;
    color:#6b708d;
    line-height: 150%;
    margin: 2rem auto;
  }
  .button-section-one{
    margin-top: 1.5rem;
  }

  .button-section-one a{
    text-decoration: none;
    margin: 0rem 1rem;
  }
  .button-get{
  background-color:#072ac8;
  font-size: 17px;
  padding: 1em 1em;
  color: white;
  font-weight: bold;
  text-decoration: none;
    margin: 0rem 1rem;
  }


.button-get:hover{
    background-color: #1e1f21;
}

.button-see{
    color: #606375;
    font-size: 19px;
    font-weight: 800;
    font-weight: bold
}


 
  #section-one-image{
    text-align: center;
  }
  .hero-image{
   
    max-width: 80%;
    margin-top: 4rem;
    vertical-align: middle;
    display: inline-block;
  }
  .card-1{
    position: absolute;
    left: 19%;
    bottom: 15%;
    right: auto;
    bottom: auto;
    max-width: 30%;
  }

  .card-2 {
    position: absolute;
    right:10%;
    bottom: -55%;
    top: auto;
    left: auto;
    max-width: 30%;
  }

  @media (max-width: 700px) {

    .card-2{
      display: none;
    }
    .card-1{
      display: none;
    }


  }

      /* FIN SECTION ONE */

      /* SECTION - LOGOS  */
 .section-logos{
    max-width: 1000px;
    margin-right:auto;
    margin-left: auto;
    
 }
  .logos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
 

  }
  .marcas-logos{
display: flex;
width: 150px;
height: 96px;
max-height: 96px;
max-width: 150px;
justify-content: center;
align-items: center;

  }
 
  @media (max-width: 700px) {
.amazon img {
  display:none
}
.logos {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  width: 100%;
  max-width: 100%;
  grid-auto-flow: row;
  grid-column-gap: 20px;

}
.marcas-logos{
display: flex;
width: 150px;
height: 96px;
max-height: 96px;
max-width: 150px;
justify-content: center;
align-items: center;

}


  }


  /* FIN SECTION - LOGOS  */

    /* SECTION RECENTS PROYECTS */

    .projects-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 25px;
      grid-row-gap: 0px;
      /* display: flex;
      flex-direction: row;
      justify-content: space-around;
      */
  }
  .title{
    color: #292e47;
  font-size: 40px;
  line-height: 40px;
   margin-top: 2rem;
   margin-bottom: 2rem;
   text-align: initial;
   margin-left: 2rem;
  }
  
  .project {
      background-color: white;
      padding-bottom: 20px;
      max-width:90%;
     

  }
  
  .project img {
      width: 100%;
      height: 240px;
      max-width: 100%;
     
  }
  
  .project h3 {
      font-size: 1.3rem;
      margin: 27px;
  }
  
  .project p {
      font-size: 1.1rem;
      margin: 0 27px 27px 27px;
  }
  
  .project a {
      text-decoration: none;
      font-weight: 500;
      color: #072AC8;;
      margin: 0 27px 27px 27px;
  }
  
  @media (max-width: 700px) {
.projects-container{
  display: flex;
  flex-direction: column;
}

.project{
  margin: 2rem 2rem;
}

  }

  /* FIN SECTION RECENTS PROYECTS */


    /* SECTION CLIENTES  */
  #clients{
    background-color: #292e47;
    margin-top: 3rem;
    position: relative;
    
  }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

  #clients h3{
    max-width: 400px;
    line-height: 150%;
    color: #ecf7ff;
    font-size: 40px;
    text-align: center;
    margin:2rem 0rem;

  }
  .testimonio {
    max-width: 560px;
    margin-right: auto;
    margin-left: auto;
    color: #ffc600;
    font-size: 24px;
    line-height: 160%;
    font-weight: 500;
    text-align: center;
    margin:1rem 0rem;
  }
 .client{
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
    

 }
  .client-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../project-assets/testimonial-section/profile.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0rem 1rem;
  }
  
  .client-name{
    color: #a2d6f9;
    font-size: 17px;
  }
  .client-position{
    color: #ecf7ff;
    font-size: 13px;
  }

  .memoji-1 {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 80%;
    bottom: 15%;
    right: auto;
    bottom: auto;
 
}
.memoji-2 {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 5%;
   
 
}
.memoji-3 {
    width: 150px;
    height: 150px;
    position: absolute;
    top:5%;
    right:5%;
    bottom: auto;
    left: auto;
}
.memoji-4 {
    width: 150px;
    height: 150px;
  
}

@media (max-width: 700px) {

  .memoji-1,.memoji-2,.memoji-3,.memoji-4{
    display:none
  }

}


 
   /* FIN SECTION CLIENTES  */

    /* SECTION OUR SERVICES */
    #our-services{
      margin-bottom: 4rem;
    }
  

#our-services h2{
  color: #292e47;
  font-size: 40px;
  line-height: 44px;
   margin-top: 2rem;
   margin-bottom: 2rem;
   text-align:initial
}

    .services-container {
      display: flex;
     justify-content: space-around;
     
  }
  
  .service {
      background-color: white;
      padding-bottom: 20px;
      margin:1rem 1rem
  }
  
  #service-img-1 {
      background-image: url('../project-assets/services-section/icons/1.svg');
      background-size:46%;
      background-position: center center;
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
      background-color: #ecf6ff;
      border-radius: 100px;
      margin: 34px 0 0 34px;
  }
  
  #service-img-2 {
      background-image: url('../project-assets/services-section/icons/2.svg');
      background-size:46%;
      background-position: center center;
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
      background-color: #ecf6ff;
      border-radius: 100px;
      margin: 34px 0 0 34px;
  }
  
  #service-img-3 {
      background-image: url('../project-assets/services-section/icons/3.svg');
      background-size:46%;
      background-position: center center;
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
      background-color: #ecf6ff;
      border-radius: 100px;
      margin: 34px 0 0 34px;
  }
  
  .service h3 {
      font-size: 1.3rem;
      margin: 27px;
  }
  
  .service p {
      font-size: 1.1rem;
      margin: 0 27px 27px 27px;
  }
  
  .service a {
      text-decoration: none;
      font-weight: 500;
      color: #072AC8;;
      margin: 0 27px 27px 27px;
  }
  
  @media (max-width: 700px) {
.services-container{
display: flex;
flex-direction: column;
}
#our-services h2{
  margin: 2rem 2rem

}
.service{
  margin: 2rem 2rem;
}

  }


 /*  FIN SECTION OUR SERVICES */
    /* SECTION QUESTIONS  */

  #questions{
    background-color: #ffc600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    height: 500px;
  }

  #questions h1{
    
    color: #292e47;
    font-size: 30px;
    line-height: 44px;
    margin:3rem 0rem 1rem 0rem
  }
  .subtitle{
    font-size: 20px;
    color:#6b708d;
    margin: 20px 0 50px 0
  }
  .suscription{
    width: 50%;
    display:flex;
    justify-content: center;
    


  }

  .email-icon{
     padding: 0rem 0rem 0rem 3rem; 
    height: 70px;
    width: 390px;
    font-weight: 400;
    background-image: url(../project-assets/newsletter/icon/mail.svg);
    background-position: 3% 50%;
    background-repeat: no-repeat;
    border: 0;
    
    font-size: 1.1rem;
  }

  @media (max-width: 700px) {
    .suscription{
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .suscribe-button{
      margin-top: 1rem;
    }
  }


.suscribe-button{
   
    background-color: #072ac8;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    padding: 25px 50px 25px 50px;
    margin-left:2rem;
    margin-bottom:2rem
}


   /* SECTION QUESTIONS */

   /* FOOTER */
footer{
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}
footer img {
    width: 100px;
    height: 30px;
}
.footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
   .foot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:2rem , 0rem, 1rem ,0rem;
   }

   .direction {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 17px;
    line-height: 150%;
    color:#6b708d
   }
   .footer-links{
    display: grid;
    
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
   }

   .footer-links a{
    font-size: 20px;
    text-decoration: none;
    color:#0000EE;
    padding:1rem 1rem;
    
   
   }

   @media (max-width: 700px) {

    .footer{
      display:block;
      
    }

    .footer-links{
      display: grid;
      
      grid-auto-columns: 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
     }
     .foot{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin:2rem , 0rem, 1rem ,0rem;
   }

  }